name: Flutter CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Install Flutter
      run: |
        git clone https://github.com/flutter/flutter.git -b stable --depth 1
        echo "$GITHUB_WORKSPACE/flutter/bin" >> $GITHUB_PATH
        
    - name: Check Flutter Version
      run: |
        flutter --version
        
    - name: Run Flutter Doctor
      run: |
        flutter doctor
